node-red-library/flows/scanserial-ui.json
[
  {
    "id": "1",
    "type": "subflow",
    "name": "Global Translations",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 130,
        "y": 160,
        "wires": [
          {
            "id": "2"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 660,
        "y": 160,
        "wires": [
          {
            "id": "2",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "dictionary",
        "type": "json",
        "value": "{\"en\":{\"type error\":\"Node-RED database setup is incorrect.\",\"connection error\":\"Cannot connect to the database.\",\"request error\":\"Database is missing schema.\"}}",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "json"
            ]
          }
        }
      }
    ],
    "meta": {},
    "color": "#DDAA99",
    "inputLabels": [
      "payload, lang"
    ]
  },
  {
    "id": "2",
    "type": "change",
    "z": "1",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$lookup($lookup($env('dictionary'), lang), payload)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "3",
    "type": "subflow",
    "name": "get ScanLog if no error",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "4"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 930,
        "y": 80,
        "wires": [
          {
            "id": "5",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "latestScans, lastUpdated"
    ]
  },
  {
    "id": "6",
    "type": "MSSQL",
    "z": "3",
    "mssqlCN": "mssqlcn0",
    "name": "",
    "outField": "payload.latestScans",
    "returnType": 0,
    "throwErrors": "0",
    "query": "SELECT TOP (1000) [LogID]\r\n      ,[SerialCode]\r\n      ,[ScanTime]\r\n      ,[Result]\r\n      ,[UserID]\r\n  FROM [master].[dbo].[ScanLog]\r\n  WHERE ScanTime >= DATEADD(MINUTE, -10, GETDATE())",
    "modeOpt": "queryMode",
    "modeOptType": "query",
    "queryOpt": "payload",
    "queryOptType": "editor",
    "paramsOpt": "queryParams",
    "paramsOptType": "none",
    "rows": "rows",
    "rowsType": "msg",
    "parseMustache": true,
    "params": [],
    "x": 420,
    "y": 80,
    "wires": [
      [
        "5"
      ]
    ]
  },
  {
    "id": "4",
    "type": "switch",
    "z": "3",
    "name": "",
    "property": "error",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "undefined",
        "vt": "undefined"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 210,
    "y": 80,
    "wires": [
      [
        "6"
      ]
    ]
  },
  {
    "id": "5",
    "type": "function",
    "z": "3",
    "name": "add lastUpdated",
    "func": "msg.payload = {...msg.payload, lastUpdated: Date.now()};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "7",
    "type": "subflow",
    "name": "call ScanSerial procedure",
    "info": "",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 80,
        "wires": [
          {
            "id": "8"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1100,
        "y": 80,
        "wires": [
          {
            "id": "9",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "query, response"
    ]
  },
  {
    "id": "8",
    "type": "function",
    "z": "7",
    "name": "prepare command",
    "func": "msg.payload = `EXEC ScanSerial @SerialCode = '${msg.payload.serial}', @UserID = ${msg.payload.userId}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 230,
    "y": 80,
    "wires": [
      [
        "10"
      ]
    ]
  },
  {
    "id": "10",
    "type": "MSSQL",
    "z": "7",
    "mssqlCN": "mssqlcn0",
    "name": "",
    "outField": "response",
    "query": "",
    "parseMustache": true,
    "x": 500,
    "y": 80,
    "wires": [
      [
        "9"
      ]
    ]
  },
  {
    "id": "9",
    "type": "function",
    "z": "7",
    "name": "prepare msg.payload",
    "func": "msg.payload = {query: msg.payload, response: msg.response}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "mssqlcn0",
    "type": "MSSQL-CN",
    "name": "",
    "server": "db",
    "port": "",
    "encyption": true,
    "trustServerCertificate": true,
    "database": "master",
    "useUTC": false,
    "connectTimeout": "",
    "requestTimeout": "",
    "cancelTimeout": "",
    "pool": "",
    "parseJSON": false,
    "enableArithAbort": true,
    "readOnlyIntent": false
  },
  {
    "id": "12",
    "type": "tab",
    "label": "ScanSerial UI",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "13",
    "type": "uibuilder",
    "z": "12",
    "name": "",
    "topic": "",
    "url": "scanserial-ui",
    "instancePath": "",
    "okToGo": true,
    "fwdInMessages": false,
    "allowScripts": false,
    "allowStyles": false,
    "copyIndex": true,
    "templateFolder": "blank",
    "extTemplate": "",
    "showfolder": false,
    "reload": false,
    "sourceFolder": "src",
    "deployedVersion": "7.7.4",
    "showMsgUib": false,
    "title": "",
    "descr": "",
    "editurl": "",
    "x": 280,
    "y": 60,
    "wires": [
      [
        "14"
      ],
      []
    ]
  },
  {
    "id": "14",
    "type": "switch",
    "z": "12",
    "name": "if payload.refresh",
    "property": "payload.refresh",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 60,
    "wires": [
      [
        "15"
      ],
      [
        "16"
      ]
    ],
    "outputLabels": [
      "true",
      "false"
    ]
  },
  {
    "id": "17",
    "type": "link out",
    "z": "12",
    "name": "link out Action",
    "mode": "link",
    "links": [
      "18"
    ],
    "x": 915,
    "y": 60,
    "wires": []
  },
  {
    "id": "15",
    "type": "change",
    "z": "12",
    "name": "payload.action = refresh",
    "rules": [
      {
        "t": "set",
        "p": "payload.action",
        "pt": "msg",
        "to": "refresh",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 40,
    "wires": [
      [
        "17"
      ]
    ]
  },
  {
    "id": "16",
    "type": "change",
    "z": "12",
    "name": "payload.action = insert serial",
    "rules": [
      {
        "t": "set",
        "p": "payload.action",
        "pt": "msg",
        "to": "insert serial",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 100,
    "wires": [
      [
        "17"
      ]
    ]
  },
  {
    "id": "19",
    "type": "link in",
    "z": "12",
    "name": "link in UI",
    "links": [
      "20"
    ],
    "x": 445,
    "y": 160,
    "wires": [
      [
        "13"
      ]
    ]
  },
  {
    "id": "21",
    "type": "tab",
    "label": "ScanSerial Action",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "18",
    "type": "link in",
    "z": "21",
    "name": "link in Action",
    "links": [
      "17"
    ],
    "x": 195,
    "y": 120,
    "wires": [
      [
        "22"
      ]
    ]
  },
  {
    "id": "23",
    "type": "subflow:7",
    "z": "21",
    "name": "",
    "x": 570,
    "y": 180,
    "wires": [
      [
        "24"
      ]
    ]
  },
  {
    "id": "24",
    "type": "subflow:3",
    "z": "21",
    "name": "",
    "x": 820,
    "y": 80,
    "wires": [
      [
        "25"
      ]
    ]
  },
  {
    "id": "22",
    "type": "switch",
    "z": "21",
    "name": "payload.action",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "refresh",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert serial",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 340,
    "y": 120,
    "wires": [
      [
        "24"
      ],
      [
        "23"
      ]
    ],
    "outputLabels": [
      "refresh",
      "insert serial"
    ]
  },
  {
    "id": "20",
    "type": "link out",
    "z": "21",
    "name": "link out UI",
    "mode": "link",
    "links": [
      "19"
    ],
    "x": 1275,
    "y": 400,
    "wires": []
  },
  {
    "id": "25",
    "type": "switch",
    "z": "21",
    "name": "set / skip error.name",
    "property": "error.name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "TypeError",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ConnectionError",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "RequestError",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 180,
    "y": 460,
    "wires": [
      [
        "26"
      ],
      [
        "27"
      ],
      [
        "28"
      ],
      [
        "20"
      ]
    ]
  },
  {
    "id": "26",
    "type": "change",
    "z": "21",
    "name": "type error",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "type error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 420,
    "wires": [
      [
        "29"
      ]
    ]
  },
  {
    "id": "27",
    "type": "change",
    "z": "21",
    "name": "connection error",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "connection error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 500,
    "wires": [
      [
        "29"
      ]
    ]
  },
  {
    "id": "28",
    "type": "change",
    "z": "21",
    "name": "request error",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "request error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 580,
    "wires": [
      [
        "29"
      ]
    ]
  },
  {
    "id": "30",
    "type": "subflow:1",
    "z": "21",
    "name": "",
    "x": 870,
    "y": 500,
    "wires": [
      [
        "31"
      ]
    ]
  },
  {
    "id": "29",
    "type": "change",
    "z": "21",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "lang",
        "pt": "msg",
        "to": "en",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 500,
    "wires": [
      [
        "30"
      ]
    ],
    "inputLabels": [
      "payload.error"
    ],
    "outputLabels": [
      "payload, lang"
    ]
  },
  {
    "id": "31",
    "type": "change",
    "z": "21",
    "name": "set payload.errormsg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"errormsg\": payload }",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1120,
    "y": 500,
    "wires": [
      [
        "20"
      ]
    ]
  },
  {
    "id": "32",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-mssql-plus": "0.13.1",
      "node-red-contrib-uibuilder": "7.7.4"
    }
  }
]